Django==4.2.7

# Audio
numpy==1.26.4
scipy==1.11.4
soundfile==0.12.1
librosa==0.10.1
noisereduce==3.0.0

# ASR
torch==2.2.2
torchaudio==2.2.2
openai-whisper==20231117
faster-whisper==1.2.1

# NLP
sentence-transformers==2.6.1
scikit-learn==1.4.0
nltk==3.8.1

# GenAI
transformers==4.36.2
accelerate==0.26.1

# Visualization
matplotlib==3.8.2
seaborn==0.13.2

# Export
fpdf==1.7.2
python-docx==1.1.0

# Utils
tqdm==4.66.1
requests==2.31.0
